#Django related files
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
migrations/

#IDE and editor files
.vscode/
.idea/

#Logs
*.log

#Dependency dirs and files
venv/
env/
.git/

#compiled files
*.pyc
*.class
*.o

*~